* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a6b1e1;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color: #413c69;
    height: 100vh;
}

.gandalfo {
    z-index: 1;
    margin-left: 6px;
    margin-top: 6px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 100ms;
    border: #596157 solid 4px;
    border-radius: 50%;
}

.description strong {
    margin: 10px;
    font-size: 50px;
}

.description p {
    margin-top: 10px;
    line-height: 30px;
}

.description h3 {
    margin: 20px 0;
}

.description a {
    text-decoration: none;
    padding: 5px;
    margin: 10px 10px 0 0;
    border: #222 solid 1px;
    border-radius: 4px;
    color: #FFF;
    background-color: #222;
}

.description a:hover {
    background-color: #413c69;
    box-shadow: #111 3px 3px 4px;
}

.description strong, .description h2 {
    text-align: center;
    padding: 20px;
}

.eu {
    margin-left: 100px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: rgb(190, 153, 190) 5px solid;
}

.content {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.nome {
    justify-content: center;
    display: flex;
    border-bottom: #FFF solid 2px;
}

footer {
    background-color: #111;
    color: #FFF;
    padding: 20px;
    margin-top: auto;
    margin-bottom: 0;
    text-align: center;
}
